body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  
h3{
    color: #13c3ba;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 20px;
}
.b{
    font-size: 20px;
    margin-bottom: 100px;

}
.section-left{
    background-color: white;
    float: left;
    width: 400px;
}
.section-right{
    background-color: white;
    float: right;
    width: 400px;
}
 h4{
    margin-left: 10%;
    color: #171e78;
    letter-spacing: .1rem;
    font-size: 18px;
}

.atouts, .profil p{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
}

.div{
    margin-left: 10%;
    margin: 30px;
}

strong{
    color:#13c3ba;
    text-decoration: none; 
}
.c
{
    font-size: 28px;
    margin: 20px;
}

.interet{
    margin-left: 10%;
}
